<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="687592">  <td>18/09/23 09:24:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.CreateLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcase_testng.TC002_CreateLead@109bb57]">CreateLead</td> 
  <td>main@16699734</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/09/23 09:24:50</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.CreateLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcase_testng.TC002_CreateLead@109bb57]">CreateLead</td> 
  <td>main@16699734</td>   <td></td> </tr>
<tr bgcolor="85b2fe">  <td>18/09/23 09:24:49</td>   <td>-94</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcase_testng.TC002_CreateLead@109bb57]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@16699734</td>   <td></td> </tr>
<tr bgcolor="85b2fe">  <td>18/09/23 09:24:49</td>   <td>-574</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcase_testng.TC002_CreateLead@109bb57]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@16699734</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/09/23 09:24:49</td>   <td>-113</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData()[pri:0, instance:testcase_testng.TC002_CreateLead@109bb57]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@16699734</td>   <td></td> </tr>
</table>
