<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6297b6">  <td>18/09/30 17:05:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02_EditLead.EditLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:pom_TestCases.TC02_EditLead@a3426]">EditLead</td> 
  <td>main@11979724</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>18/09/30 17:05:36</td>   <td>20596</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:pom_TestCases.TC02_EditLead@a3426]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11979724</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>18/09/30 17:05:09</td>   <td>-6988</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:pom_TestCases.TC02_EditLead@a3426]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11979724</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>18/09/30 17:05:08</td>   <td>-7388</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:pom_TestCases.TC02_EditLead@a3426]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11979724</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>18/09/30 17:05:34</td>   <td>18411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:pom_TestCases.TC02_EditLead@a3426]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@11979724</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>18/09/30 17:05:10</td>   <td>-5739</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String)[pri:0, instance:pom_TestCases.TC02_EditLead@a3426]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@11979724</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/09/30 17:05:09</td>   <td>-7008</td> <td>&nbsp;</td><td title="&gt;&gt;TC02_EditLead.setData()[pri:0, instance:pom_TestCases.TC02_EditLead@a3426]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11979724</td>   <td></td> </tr>
</table>
